<div class="content-wrapper sidebar-included right-sidebar">
  <div class="page-wrapper">
    <div class="gdl-page-float-left">
      <%= yield(:body_content_left) %>
    </div>
    <div class="five columns mt0 gdl-right-sidebar">
      <div class="right-sidebar-wrapper gdl-divider" >
        <%= yield(:body_content_right) %>
        <div class="pt30"></div>
      </div>
    </div>

    <br class="clear">
  </div>
</div>