<div class="content-wrapper sidebar-included left-sidebar">
  <div class="page-wrapper">
    <div class="gdl-page-float-left">
      <div class="gdl-page-item">
        <div class="sixteen columns mt30">
          <%= render '/refinery/content_page' %>

          <%= render "/refinery/photo_gallery/albums/show" %>

        </div>
      </div>
      <%= render '/refinery/submenu' %>
    </div>
    <br class="clear">
  </div>
</div>




