<div class="content-wrapper sidebar-included left-sidebar">
  <div class="page-wrapper">
    <div class="gdl-page-float-left">
      <div class="gdl-page-item">
        <div class="sixteen columns mt30">
          <h2><%= yield(:body_content_title) %></h2>
          <div style="clear:both;">
            <%= yield(:body_content_left) %>
          </div>
        </div>
      </div>
      <%#= render '/refinery/submenu' %>
    </div>
    <br class="clear">
  </div>
</div>
