<div class="footer-wrapper">
  <div class="footer-wrapper-gimmick"></div>
  <!-- Get Footer Widget -->

  <!-- Get Copyright Text -->

  <div class="copyright-wrapper">
    <div class="copyright-left">
     Beží na systéme <a target="_blank" href="http://refinerycms.com/">Refinery CMS</a>
    </div>
    <div class="copyright-right">
      <%= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %>
    </div>
    <div class="clear"></div>
  </div>
</div>
